 body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #adc79f;
            }
            h1 {
                color: #5b3a29;
                background-color: #c7c6c1;
                padding: 1.5rem
            }

            hr {
                border: 3px solid #c7c6c1              
;
            }

            h2 {
                color: #5b3a29;
                padding: 0.5rem
            }

            h3 {
                color: #5b3a29;
                padding: 0.5rem
            }

            p {
                margin: .5rem
            }

            img {
                float: left;
                border: 2px #ffffff solid; 
                margin: .65rem;
                max-width: 100%;
            }