nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.3rem;
    list-style: none;
    background-color: #d1e2f3;
}

nav a {
    text-decoration: none;
    color: #032a42;
    padding: 1.5rem
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #d1e2f3;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
}



/*INDEX*/


.site {
    border: #f0f0dc solid 2px;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: "Crimson Text", serif;
    background-color: #d1e2f3;
    margin: 0;
    color: #032a42;
}


h1, h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.129)), url("images/indexhero.jpg");
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
    border-radius: 5rem;
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.herotext p {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
}

.herotext h1 {
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:#f0f0dc;
}

.skills {
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}


span {
    display: inline-block;
    border: #0d3b66 solid 1px;
    border-radius: 15px;
    width: auto;
    padding: 0.4rem 1rem;
    margin: 0.5rem auto;
}

.technical, .professional {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.aboutme {
    padding: 4rem;
    display: flex;
    align-items: center;
}

.aboutme h1 {
    font-size: 4rem;
}

.aboutmetext {
    max-width: 500px;
    padding-left: 10rem;
}

.aboutme p {
    font-size: 2rem;
}

.aboutme img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 8rem;
}


/*CONTACT*/

.contactwrapper {
    background-color: #d1e2f3;
    font-family: "Crimson Text", serif;
    background-color: #d1e2f3;
    margin: 0;
    color: #032a42;
    height: 100vh;
}
.contacthero {
    text-align: center;
    padding-top: 2rem;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    padding: 5rem;
    gap: 2rem;
}

.socials a {
    color: #032a42;
    text-decoration: none;
    font-size: 2rem;
    border: #0d3b66 2px solid;
    border-radius: 10rem;
    padding: 1.5rem;
    text-align: center;
    width: 50%;
}

.socials a:hover {
    text-decoration: underline;
    background-color: #e7e7e7;
}

