nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.3rem;
    list-style: none;
    background-color: #032a42;
}

nav a {
    text-decoration: none;
    color: #d1e2f3;
    padding: 1.5rem
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
}

#name {
    border: #d1e2f3 2px solid;
    border-radius: 50%;
}
#name:hover {
    background-color: rgba(74, 73, 73, 0.58);

}



/*INDEX*/


.site {
    border: #f0f0dc solid 2px;
    font-family: "Crimson Text", serif;
    min-height: 100vh;
    min-width: 100vw;
}
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.129)), url("images/indexhero.jpg");
    min-height: 100vh;
    min-width: 100vw;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.herotext h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color:#f0f0dc;
}

.herotext p {
    font-size: 2rem;
    font-weight: 500;
    color:#f0f0dc;
}



/*ABOUT ME*/

.aboutme {
    background-color: #d1e2f3;
    font-family: "Crimson Text", serif;
    min-height: 100vh;
    min-width: 100vw;
}

.aboutcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    color: #032a42;

}

.aboutmetext {
    text-align: left;
    width: 40%;
    margin-left: 4rem;
}

.aboutmetext h1 {
    font-size: 3rem;
}

.aboutmetext p {
    font-size: 2rem;
}

.aboutheader {
    display: flex;
    flex-direction: row;
}


.aboutcontent img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20rem;
    margin-top: 2rem;
}

.skills {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 4rem;             
}

.tags span {
    display: inline-block;
    border: #0d3b66 solid 1px;
    border-radius: 15px;
    width: auto;
    padding: 0.4rem 1rem;
    margin: 0.5rem auto;
}
.experience {
    display: flex;
    flex-direction: row;
}
.experiencetxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 1.1rem;
    width: 50%;
    margin-left: 10rem;
}

.experience img {
    padding: 2rem;
    height: auto;
    width: auto;
    border-radius: 50px;
}


/*CONTACT*/


.contactwrapper {
    background-color: #d1e2f3;
    font-family: "Crimson Text", serif;
    background-color: #d1e2f3;
    margin: 0;
    color: #032a42;
    min-height: 100vh;
    min-width: 100vw;
}
.contacthero {
    text-align: center;
    padding-top: 2rem;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    gap: 2rem;
}

.socials a {
    color: #032a42;
    text-decoration: none;
    font-size: 2rem;
    border: #0d3b66 2px solid;
    border-radius: 10rem;
    padding: 1.5rem;
    text-align: center;
    width: 50%;
}

.socials a:hover {
    text-decoration: underline;
    background-color: #e7e7e7;
}


/*PORTFOLIO*/


.docwrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: #d1e2f3;
    background-size: cover;
    background-position: center;
    font-family: "Crimson Text", serif;
    color: #032a42;
    min-height: 100vh;
    min-width: 100vw;
}

.dochero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.129)), url("images/southcollege.jpg");
    height: 40vh;
    width: 80vw;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5rem;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.dochero h1 {
    display: inline-block;
    font-size: 3rem;
    text-align: center;
    color: #d1e2f3;
    border-radius: 10rem;
    width: 50%;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    text-align: center;
    align-items: start;
    margin: 1rem;
    padding: 2rem;
}

article {
    border: #f0f0dc solid 3px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
}

article a {
    color: #f0f0dc;
    border: #f0f0dc 2px solid;
    background-color: #656565;
    border-radius: 5px;
    padding: .5rem;
}

article a:hover {
    background-color: transparent;
}


