#layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    width: 100vw;
}



h2 {
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
}

h1 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav li {
    list-style-type: none;
    background-color: black;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: lightgray;
    padding: 1.5rem
}

nav a:hover {
    color: palegoldenrod;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    background-color: black;
    padding: 12px;
    margin: 0px;
}

footer address {
    text-decoration: none;
    color: lightgray;
}