body {
    background-color: #ffdbfd;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    padding: 2rem;
}

main {
    border: red solid 0px;
}

.wrapper {
    border: 0px black solid;
    margin: 0 auto;
    max-width: 40rem;
}

h1 {
    text-align: center;

}

article {
    background-color: white;
    border: 1px solid gray;
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: .4rem;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;

}

a:link {
    color: green;
}

a:visited {
    color: crimson;
}

a:hover {
    color: lightpink;
}

a:active {
    color:blueviolet
}

header a:link {
    color: white;
    text-decoration: none;
}

header a:visited {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: lightpink;
    text-decoration: underline;
}

header a:active {
    color: goldenrod;
    text-decoration: none;
}

h2.logo {
    background-color: rgb(113, 19, 99);
    text-align: left;
    width: 6rem;
    height: 6rem;
    display: grid;
    align-items: center;
    border-radius: 50%;
}






